
<div class="center hero-unit">
<p>
		<img src="http://www.bizroller.com/wp-content/uploads/2012/12/cropped-Bizroller-logo-tagline-website-header.png" alt="BizRoller - The Business Travelers Community" width="720" height="320" align="middle"></p>
	
  <h4>Created by and for Business Travelers, BizRoller is the one place for connecting to other Business Travelers and getting focused reviews on everything from conferences, restaurants, meetings, hotels, sports, theater, entertainment, attractions, performances and support services. Looking for a business-person suitable place to go, something to do, a service or to connect with other travelers while traveling on business or at a conference? Click below to sign up for our beta.</h4>

 <%= link_to "Back To Home and Beta sign up", root_path, 
                                class: "btn btn-large btn-primary" %>

</div>
