
<div class="center hero-unit">
<p>
	<%= link_to (image_tag("Bizrollerlogowithtagline.png")) %>

	<!--	<img src="http://www.bizroller.com/wp-content/uploads/2012/12/cropped-Bizroller-logo-tagline-website-header.png" alt="BizRoller - The Business Travelers Community" width="720" height="320" align="middle"> -->

</p>
	
  <h4>Created by and for business travelers, BizRoller is the place to connect with other business travelers and get focused reviews on everything from meetings and conferences to hotels, restaurants, attractions and support services. <br><br>

Looking to connect with other travelers while away on business? Seeking something interesting to see? In need of a service to make your travel easier? Click below to sign up for our beta.</h4>

 <%= link_to "Back To Home and Beta sign up", root_path, 
                                class: "btn btn-large btn-primary" %>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Contact BizRoller", contact_path, 
                                class: "btn btn-large btn-primary" %>

</div>
